.sheetWrapper {
  border: 1px solid gray;
  padding: 74px 64px;
}

.sheetTitle {
  text-align: center;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.codes {
  display: flex;
}

.codes > div {
  padding: 12px;
}

.boxes {
  display: flex;
}

.box {
  width: 1.8rem;
  height: 2rem;
  border: 1px solid gray;
}

.sticker {
  border: 1px solid gray;
  padding: 32px;
}

.questions {
  columns: 2;
}

.sectionHeader {
  font-weight: 600;
  margin-bottom: 3pt;
}

table {
  margin-bottom: 3rem;
  break-inside: avoid;
  border-collapse: collapse;
}

td,
th {
  border: 1pt solid black;
  padding: 0 3px;
  min-width: 2rem;
  text-align: center;
  margin-left: -2px;
  margin-top: -2px;
}

thead {
  background-color: lightgray;
}

.answer {
  display: inline-block;
  border: 1px solid red;
  color: red;
  width: 1rem;
  height: 1rem;
  font-size: 80%;
}

.descriptive {
  border: 2pt solid black;
  padding: 3pt;
}

.descriptive td,
.descriptive th {
  text-align: left;
}

@media print {
  .sheetWrapper {
    border: none;
    padding: none;
    font-size: 10pt;
  }

  .formHeader {
    padding: 12pt 0;
  }

  table {
    margin-bottom: 3pt;
  }

  table * {
    font-size: 10pt;
  }

  .sticker {
    padding: 12pt;
  }
}
